.course-text-head{
    text-align: center;
    padding-top: 50px;

    h1{
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 0;
        color: #fff;
    }
}

.course-link-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: #fff;

    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration-line: none;
        border-bottom: 1px solid #fff;
        font-size: 18px;
        gap: 2px;
        color: #fff;
    }
    p{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #fff;
        font-size: 18px;
        gap: 2px;
    }
}

.course-boxx{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media(max-width:600px){
        grid-template-columns: repeat(1, 1fr);
    }
}
.course-flexx{
    display: flex;
    flex-direction: row;
    align-items: center;

    @media(max-width: 600px){
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }
}