footer{
    background-color: #232323;
    padding: 100px 120px;

    @media(max-width: 600px){
        padding: 50px 30px;
    }
}
.foot{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    color: #fff;
    min-height: 550px;

    @media(max-width: 600px){
        grid-template-columns: repeat(1, 1fr);
    }
}

.q-head, .rec-head, .link-head, .sub-head{

    h1{
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 40px;
    }
}
.q-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.q-text p{
    color: rgba(255, 255, 255, 0.7);
}

.blo-display{
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* align-items: center; */
}
.rec-text p{
    color: rgba(255, 255, 255, 0.7);
    /* width: 50%; */
    /* margin-bottom: 0; */
    font-size: 18px;
    letter-spacing: 1px;
}
.cal-ad-msg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: 10px;
    font-size: 14px;

}
.calendar, .admin, .message{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: gray;
}
.rec-text span{
    color: gray;
}
.rec-blo img{
    width: 80px;
    height: 70px;
    margin-top: 20px;
}


.link-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: rgba(255, 255, 255, 0.7);

    a{
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        margin: 7px 0;
    }
}

.sub-i-b{
    display: flex;
    flex-direction: column;
    gap: 10px;

    input{
        width: 100%;
        height: 52px;
        text-align: center;
        border: none;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    button{
        width: 100%;
        height: 52px;
        border-radius: 2px;
        border: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        background-color: #5d50c6;
    }
}

.connect{
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.7);
}
.connect-ico{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.twitter, .fb, .insta{
    background-color: rgba(255, 255, 255, 0.05);
    width: 19px;
    height: 19px;
    padding: 15px;
    border-radius: 50px;
    color:  #fff;
}

.foot-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}