header{
    width: 100%;
    z-index: 1000;
}
.heading1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1eaaf1;
    color: #fff;
    padding: 15px 60px;

    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px 20px;
        justify-content: center;
        align-items: center;
    }
}

.heading-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 40px;

    @media(max-width:600px){
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.icon-map{
    background-color: #5d50c6;;
    border-radius: 50%;
    padding: 5px;
}
.icon-paper{
    background-color: #fda638;
    border-radius: 50%;
    padding: 5px;
}
.icon-phone{
    background-color: #8cc152;
    border-radius: 50%;
    padding: 5px;
}

/* second-heading */
.header-logo h1{
    color: #000;

    @media(max-width: 768px){
        color: #fff;
    }
}
.heading-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 110px;
    background: transparent ;
    z-index: 3;
    margin-bottom: 0;
    margin: 0;

    @media(max-width: 768px){
        padding: 0 20px;
        background-color: #000;
    }
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.fixed .header-logo h1{
    color: #000;
}
.bug{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ccc;
    gap: 5px;

    h1{
        font-weight: 300;
        font-size: 25px;
    }
}
.nav-menu{

    a{
        margin: 0 20px;
        font-size: 18px;
        cursor: pointer;
        text-decoration-line: none;
        color: #000;

        @media(max-width: 768px){
            display: none;
        }
    }
}
.burgernav{
    display: none;

    @media(max-width: 768px){
        display: flex;
    }
}